@import url('https://fonts.googleapis.com/css?family=Montserrat');

.Outer-Container{
    display: flex;
    justify-content: center;
    /* border-color: rgb(0, 255, 76);
    border-style: solid; */
}

.Inner-Container{
justify-content: center;
/* border-color: rgb(5, 5, 5); */
    /* border-style: solid;
    border-radius: 25px; */
    /* border-width: thin; */
    text-align: center
}

.title-box{
    /* border-color: rgb(8, 0, 255);
    border-style: solid; */
    text-align: center
}
.errors{
    justify-content: center;
    color: red;
    padding: 10px;
}

.stars-container{
    display: flex;
    flex-direction: row;
    /* border-color: rgb(204, 255, 0);
    border-style: solid; */
    justify-content: center;

}
.star-and-column{
    display: flex;
    /* border-color: rgb(72, 0, 255);
    border-style: solid; */
    align-content: center;
    align-items: center;
    margin-top:2%;
}

.create-review-container{
    text-align: center
}
.write-review-container{
    text-align: center
}



.review-container{
    box-sizing: border-box;
    /* border-color: rgb(255, 0, 225);
    border-style: solid; */
}

.input-box{
    height: 100%;
    width: 100%;
    font-family: "Montserrat";
    resize: none;
    border-radius: 12px;
    padding-bottom: 20%
}

/* .one-to-five{

} */

.create-review-button{
    width: 100%;
    background-color: rgb(230, 30,77);
    color: white;
    border-radius:12px;
    border-width: thin;
    padding:10px;
    margin-top:2%;
    border: none;
}
