.Outer--modal-Container{
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,.7)

}

.Inner-modal-Container{
    text-align: center;
justify-content: center;
padding: 10px;
border-width: thin;
    border-style: solid;
    border-radius: 0px;
    padding-left: 30px;
padding-right: 30px;
    /* background-color: rgba(0,0,0,.7) */
}

.title-log-container{
    border-color: rgb(203, 207, 207);
    border-bottom-style: solid;
    text-align: center
}

.errors{
    justify-content: center;
    color: red;
    padding: 10px;
}


.Login-Button{
    width:100%;
    background-color: rgb(11, 58,13);
    color: white;
    border-radius:0px;
    border-width: thin;
    padding:10px;
    margin-top: 5%;
    margin-bottom: 2%;
    border: none
}
