/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css?family=Inter');


*{
    font-family: "Inter";
    text-decoration: none;
}



.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: rgb(239, 251, 239);
    height: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.footer-about {
    margin-top: 5px;
}

.footer-links {
    margin-top: 5px;
    margin-right: 10px;
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.links-github {
    text-decoration: none;
    color: black;
}
