.coder-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    color:rgb(4, 72, 4);
    border:2px solid rgb(4, 72, 4);
    width: 30%;
    height: 50%;
    padding: 2%;
    margin: 5% 5%
}

h1 {
    display:flex;
    justify-content: flex-start;

}

.user-image{
    border-radius: 4%;
    margin: 5% 0%;
}


.coder-details{
    padding: 2% 0%;

}

.coder-details-headings{
    font-weight: bold;
    text-decoration: underline;
    padding: 2% 0%;
}

.coder-detail-page-container{
    display: flex;
    flex-direction: row;
}



.user-photo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.user-image{
    padding-right: 5%
}

.review-user-name{
    font-weight: bolder;
}

.review-card{
    border: 2px solid rgb(3, 85, 3);
    padding: 5%;
    margin:5%
}

.review-header {
        margin-top: 10%;
        padding: 5%;
        text-decoration: underline;
        text-align: center;

}


.Create-Review-Button {
    background-color: rgb(3, 85, 3);
    border: 1px solid black;
    color:white;
    display: flex;
    align-self:center;
    justify-self: center;
    padding:3%;
    margin: 3%
}

.create-button-container,
.Edit-Delete-Button {
    display: flex;
    justify-content: center;
}
