* {-webkit-font-smoothing: antialiased;}

.navbar-main{
display: flex;
flex-direction: row;
border-color: rgb(164, 165, 165);
border-bottom-style: solid;
justify-content: center;
position:sticky;
z-index:4;
top:0px;
background-color: white;
height: 70px;
}

.navbar-inner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:80%;
}


.Home-Container{
    display: flex;
    align-items: center;
}

.logo{
    max-height: 200px;
    max-width: 200px;
}


.profile-button{
    display: flex;
}

.Create-a-spot-Button{
    display: flex;
}

.logged-out-profile-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.Right-Side-Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25%;
    justify-content: space-between;

}

.become-host-button{
    background-color: transparent;
    border-radius:0px;
    padding: 15px;
    font-size: larger;
    border: 0 solid #ddd;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
}

.become-host-button:hover{
    background-color: rgb(236, 235, 235);
    color: rgb(11, 58,13);
    border: none;
    border-radius: 15px;
}
