.sign-up-text{
    padding: 5px;
}


.sign-up-text:hover{
    background-color: rgb(11, 58,13);
    color: white;
    border: none;
    cursor: pointer;
    /* padding: 5px; */
    width:125px;
    border-radius: 2px;
}
