.outer-sign-container{
    display: flex;
    justify-content:center;
    width:100%
}

.inner-sign-container{
    text-align: center;
justify-content: center;
/* padding: 30px; */
padding-left: 30px;
padding-right: 30px;
padding-bottom: 10px;
border-width: thin;
    border-style: solid;
    border-radius: 25px;
    /* background-color: rgba(0,0,0,.7) */
}

.title-box{
    /* border-color: rgb(8, 0, 255);
    border-style: solid; */
    text-align: center
}

.inner-form-sign-container{
    padding-top: 10px;
}

.errors{
    justify-content: center;
    color: red;
    padding: 10px;
}


.title-sign-container{
    border-color: rgb(203, 207, 207);
    border-bottom-style: solid;
    text-align: center
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.form-sign-inputs{
    box-sizing: border-box;
    width: 100%;
    font-family: "Montserrat";
    padding: 10px;
    border-radius: 12px;
    border-width: thin
}

.button-sign-container{
    text-align: center;
    /* border-color: rgb(255, 0, 247);
    border-style: solid; */
    /* align-content: center;
    align-items: center; */
}

.Sign-Up-button{
    width: 100%;
    background-color: rgb(230, 30,77);
    color: white;
    border-radius:12px;
    border-width: thin;
    padding:10px;
    margin-top:5%;
    margin-bottom: 5%;
    border: none
}
