.search-bar-container{
    display: flex;
    /* border-color: rgb(255, 0, 81);
    border-style: solid; */

}
.whole-container{
    /* border-color: rgb(255, 0, 81);
    border-style: solid; */
    width: 100vh;
    height: 100vh;
    /* flex-wrap: wrap; */
}

.search-bar{
margin-top: 5%;
margin-bottom: 5%;
display: flex;
position: relative;
flex-direction: row;
align-items: center;
/* border-color: rgb(0, 255, 76);
border-style: solid; */
/* margin-top: 70%;
margin-left: 90%; */
z-index: 1;
}

.icon-container{
display: flex;
align-items: center;
justify-content: center;
background-color: white;
cursor: pointer;
/* border-color: rgb(255, 0, 111);
border-style: solid; */
}

.search-input{
    /* margin:10%; */
    width: 500px;
    height: 50px;
    /* border: hidden; */
    border-color: black;
    font-size:larger;
    /* border-color: rgb(72, 0, 255);
border-style: solid; */
}

.search-results-cards{
    display:flex;
    flex-direction: column;
    position:absolute;
    justify-content: center;
    align-content: center;
    z-index:2;
    /* border: 4px solid green; */
    align-items: center;
    color:white;
    background-color: white;
    border: 2px solid black;
    padding: 3%;
    margin: 2%;
    width:60%

}
.coder-shortbio-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    align-items: center;
    border: 2px solid black;
    margin: 2%;
    padding: 2%;
    background-color: rgb(1, 61, 1);
    color:white;
    width: 30%

}

.search-header{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 2px solid rgb(2, 67, 2);
    padding: 3%;
    margin: 3%
}

.search-results-button-link{
    color:black;

}

.search-results-button{
    margin: 5%;
    padding: 3%;
    width:auto

}

.coder-details-title{
    font-weight:bold;
    margin: 3% 0%;
    padding: 4%;
}

.coder-details{
    margin:3%;
    display: flex;
    display:flex;
    align-items: center;
    padding:3%
}

.coder-results-name{
text-align: center;
padding: 4%;
border-bottom: 2px solid white;
display:flex;
margin: 3%
}

.button-profile{
    background-color: grey;
    margin: 5% 0%;
    padding: 2%;
    font-weight:bold;

}
.coder-results-details-title{
    font-weight:bold;
    display: flex;
    margin: 2%;

}

.no-search-bar{
    color: rgb(1, 59, 1);

    font-size: 40px;
    border:0px solid rgb(1, 76, 25)

}


.coder-results-details{
    margin: 3%
}
