.search-bar-container{
    display: flex;
    /* border-color: rgb(255, 0, 81);
    border-style: solid; */
    justify-content: center;

}
.whole-container{
    /* border-color: rgb(255, 0, 81);
    border-style: solid; */
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.search-bar{
margin-top: 5%;
margin-bottom: 5%;
margin-left: 4.5%;
display: flex;
position: relative;
flex-direction: row;
/* width: 1000px; */
/* flex-wrap: wrap; */
/* align-items: center; */
/* border-color: rgb(0, 255, 76);
border-style: solid; */
/* margin-top: 70%;
margin-left: 90%; */
/* z-index: 1; */
}

.search-input{
    /* margin:10%; */
    width: 550px;
    height: 50px;
    /* border: hidden; */
    border-color: black;
    font-size:larger;
    padding: 5px;
    /* border-color: rgb(72, 0, 255);
border-style: solid; */
}

.search-results-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap ;

    max-height:800px;
    width: 1000px;
     background-color: rgba(255, 255, 255, 0.5);
     /* border: 2px solid rgb(0, 0, 0); */
     box-shadow: 0px 0px 1.5px rgb(137, 135, 135);

        justify-content: center;
        align-content:center;
        align-items: center;
        background-color: white;

        width: 90%
}

.search-results-cards{
   display: flex;
   flex-direction: row;
   position: absolute;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;
   /* z-index: 2; */
   /* border: 4px solid green; */
   align-items: center;
   color: rgba(255, 255, 255, 0.5);
   padding: 15px;
   width: 2000px;
   margin-top: 150px;

}
.coder-shortbio-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      border: 2px solid black;
      margin: 15px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.7);
      color: rgb(233, 230, 230);
      width: 350px;
      word-break: break-word;
      height: 450px;

}

.search-header{
    /* background-color: rgb(255, 255, 255); */
    color: rgb(237, 233, 233);
    font-size: 2rem;
    font-weight: bold;
    padding: 3%;
    margin: 3%;
    margin-bottom: 2%;
    text-align: center;
}

.search-results-button-link{
    color:black;

}

.search-results-button{
    margin: 5%;
    padding: 3%;
    width:auto

}

.coder-details-title{
    font-weight:bold;
    margin: 3% 0%;
    padding: 4%;
}

.coder-details{
    margin:3%;
    display: flex;
    display:flex;
    align-items: center;
    padding:3%
}

.coder-results-name{
text-align: center;
padding: 4%;
border-bottom: 2px solid white;
display:flex;
margin: 3%
}

.button-profile{
    background-color: rgb(33, 87, 2);
    border:1px solid grey;
    color:white;
    margin: 5% 0%;
    padding: 10px;
    font-weight:bold;
    border-radius: 5px;
    font-size: 15px;


}

.button-profile:hover{
    cursor:pointer;
    background-color: rgb(111, 144, 111);
}
.button-profile-link{
    color:rgb(236, 235, 235)

}
.coder-results-details-title{
    font-weight:bold;
    display: flex;
    margin: 2%;

}

.no-search-bar{
    color: rgb(1, 59, 1);

    font-size: 40px;
    border:0px solid rgb(1, 76, 25)

}


.coder-results-details{
    margin: 3%
}

.search-skills-wrap-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.search-results-skill-name {
    display: flex;
    justify-self: flex-start;
    border: none;
    background-color: rgb(220, 217, 217);
    color:black;
    cursor:not-allowed;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold
}


.no-search-bar{
margin-top: 85px;
color:white;
}

/* .search-results-cards{
    height: 1000px;
    overflow:visible;
    margin-top: 150px
} */
