.home-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    /* border-color: rgb(124, 0, 128);
    border-style: solid; */
}

.image-one-container{
    /* position:absolute; */
    width: 82%;
    height: 100%;

    margin-top: 20%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2
    /* border-color: green;
    border-style: solid; */
}

.group-coding{
    width: 100%;
    object-fit: fill;
}
