.my-jobs-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);

}

.jobs-container {
    border: 2px solid rgb(0, 62, 31);
    padding: 5%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    /* width: 70%; */

}

.upcoming-jobs-container {
    /* border: 2px solid rgb(3, 97, 66); */
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.completed-jobs-container {
    border-top: 3px solid rgb(4, 98, 65);
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-jobs-header,
h1,
h2 {
    display: block;
    text-align: center;

}

.jobs-title {
    border-bottom: 2px solid rgb(3, 97, 66);
    padding-bottom: 10%;
}


.coder-profile-button,
.delete-project-button,
.edit-delete-button {
    color: white;
    margin: 7%;
    padding: 3%;

    width: 100%;
    background-color: rgba(21,122,95,255);
    border-radius: 5px;
    color: white;
    border-radius:5px;
    border-width: thin;
    border-color: rgba(21,122,95,255);
    /* padding:10px; */
    /* margin-top:2%; */
    cursor: pointer;
}

.coder-profile-button:hover,
.delete-project-button:hover,
.edit-delete-button:hover {
    color: white;
    margin: 7%;
    padding: 3%;

    width: 100%;
    background-color: rgb(3, 97, 66);
    border-radius: 5px;
    color: white;
    border-radius:5px;
    border-width: thin;
    border-color: rgb(3, 97, 66);
    /* padding:10px; */
    /* margin-top:2%; */
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

.jobs-buttons-container {
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    border: 2px solid black;
    padding: 5%;
    display: flex;

}

.job-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* flex-direction: column; */
    align-items: center;
    margin: 10% 0%;
    padding: 10%;
    border: 2px solid black;
}

.jobs-details-container {
    border: 2px solid black;
    padding: 5%;
}
.detail-heading{
    font-weight: bold;
    margin:2%;
}
