.home-container{
    display: flex;
    width: 100%;
    /* border-color: rgb(124, 0, 128);
    border-style: solid; */
}

.image-one-container{
    position:absolute;
    width: 82%;
    z-index: auto;
    margin-top: 100px;
    /* border-color: green;
    border-style: solid; */
}

.group-coding{
    width: 100%;
    object-fit: fill;
}
