.my-projects-page-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);


}

.projects-container{
    border: 2px solid rgb(3, 97, 66);
    padding: 5%;
    margin: 5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(240, 245, 241);

}

.upcoming-container {
    /* border: 2px solid rgb(3, 97, 66); */
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.completed-container{
     border-top: 3px solid rgb(4, 98, 65);
     padding: 4%;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.user-projects-header, h1, h2{
    display:block;
    text-align: center;

}

.projects-title{
    border-bottom: 2px solid rgb(3, 97, 66);
    padding-bottom: 10%;
}
